@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@property --load-value {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.card {
    animation: pulluppop 1s forwards ease-in-out;
}

@keyframes pulluppop {
    0% {
        transform: translate(-50%, -50%) translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
}

.load > div:before {
    content: "";
    position: absolute;
    font-weight: 600;
    color: #fefefe;
    width: 100px;
    text-align: center;
    margin-top: 30px;
}

.load > div:after {
    content: attr(data-percent);
    width: 100px;
    margin: 10px;
    position: absolute;
    padding: 40px 35px 35px 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    font-family: 'SUSE';
    text-align: center;
}

.load > div {
    --load-value: var(--load);
    transition: --load-value 400ms;
    background: conic-gradient(#007fff var(--load-value), #c0c0c0 var(--load-value));
    height: 120px;
    border-radius: 50%;
    width: 120px;
}

.job {
    width: 70%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    outline: 3px solid rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.5);
    margin: 20px 15%;
    padding: 1rem;
    animation: pullup 1s forwards ease-in-out;
    cursor: pointer;
}

.jobs,
.job {
    transition-duration: 300ms;
}

@keyframes pullup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    display: flex;
    /* justify-content: space-  between; */
    /* align-items: center; */
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SUSE", system-ui;
    color: #2c3e50;
    text-transform: uppercase;
    width: max-content;
}

.header p {
    white-space: nowrap;
    right: 0;
    position: absolute;
    margin: -17px 0 0 0;
    background: rgba(255, 255, 255, 1);
    color: #007fff;
    text-transform: uppercase;
    padding: 0 10px 0 12px;
    font-weight: bold;
    font-family: "Beiruti";
    border-radius: 0 5px 0 5px;
}

.job > p {
    color: #000;
}

.require span {
    color: #fefefe;
    font-weight: 500;
    border-radius: 5px;
    text-shadow: none;
    padding: 0 5px;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.5);
    outline: 2px solid black;
}

.require {
    margin: 5px 0 5px 5px;
}
